*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

#Container{
    background-image: url(./images/BackgroundImage.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 2rem;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(2px);
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: white
}
::-webkit-scrollbar-thumb{
    color: rgb(0, 170, 255);
}


#logo{
    color: white;
    font-size: 24px;
    font-weight: bold; 
    margin-left: 40px;
}
    
#logo span {
    color: #00aaff;
}
.download{
    color: white;
    background-color: #ff0055;
    padding:8px;
    margin-right: 40px;
}
.list-items{
    list-style: none;
    display: inline;
    margin: -50px 50px;
}
.link1{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.link1:hover{
    color: rgb(0, 170, 255);

}
#Home{
    margin-top: 150px;
}
#username{
    color: white;
    font-size: 10px;
    margin-left: 40px;
}
.Myname{
    
}

.fname{
    color: red;
}

#user-description{
    color: white;
    line-height: 1.8;
    font-size: 17px;
    margin-top: 15px;
    margin-left: 40px;
}
/* #download{
    margin-right: 25px;
    display: inline-block;
    color: white;
    background-color: rgb(255, 0, 85);
    padding: 10px;
    text-decoration: none;
    margin-top: 8px;
    
    font-size: 15px;
    font-weight: 500;
}
#download:hover{
    color: white;
    background-color: bluered;
} */

.hire {
    background-color: #00aaff;
    color: white;
    width:100px;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    display: inline-block;
    margin-top: 13px;
    margin-left: 40px;
}
.ContactMe{
    background-color: transparent;
    color: white;
    width: 100px;
    font-size: 14px;
    padding: 8px;
    display: inline-block;
    margin-left: 25px;
    text-align: center;
}

.ContactMe:hover{
    border: solid 1px;
    border-color: white;
    padding: 8px;
   animation-delay: 0ms;
}

h3{
    margin-left: 40px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-left: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.highlight {
    color: #00aaff;
}


.home-content h2{
    color: white;
    margin-left: 40px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    width: 20%;
    height: 20%;
}
.home-content-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-content {
    flex: 1;
}
.home-image img {
    width: 400px; /* Adjust size as needed */
    height: auto;
    margin-right: 200px;
}


/* Animation start */
.Animation{
    float: right;
    margin-right: 6rem;
}

.tag-list{
    width: 40rem;
    font-family: "Montserrat";
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.inner{
    width: fit-content;
    display: flex;
    gap: 1rem;
    animation: loop 5s linear infinite;
}
.tag{
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 1rem;
    background-color: #334155;
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    box-shadow:
    0 0.1rem 0.2rem #00000033,
    0 0.1rem 0.5rem #0000004d,
    0 0.2rem 1.5rem #00000066;
}
.tag span{
    font-size: 1.2rem;
    color: #64748b;
}
.fade{
    position: absolute;
    background: linear-gradient(90deg,#1e293b,transparent 30%,transparent 70%, #1e293b);
    inset: 0;
    pointer-events: none;
}

@keyframes loop {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

/* /* Animation end */